:root {
    --main-purple: #5B2A86;
    --light-purple: #A084CA;
    --gold: #F4C95D;
    --background: #FAF5FF;
}

/* Appliquer les couleurs */
body {
    background-color: var(--background);
}

.navbar {
    background-color: var(--light-purple) !important;
}

.bg-purple {
    background-color: var(--main-purple) !important;
}


.navbar .nav-link, .navbar-brand {
    color: white !important;
}

.navbar .nav-link:hover {
    color: var(--gold) !important;
}

header {
    background-color: var(--main-purple);
    color: white;
}

footer {
    background-color: var(--light-purple);
    color: white;
}

.btn-success {
    background-color: var(--main-purple);
    border-color: var(--main-purple);
}

.btn-success:hover {
    background-color: var(--light-purple);
    border-color: var(--light-purple);
}

.btn-outline-success {
    color: var(--light-purple);
    border: 2px solid var(--light-purple);
    background-color: transparent;
    transition: all 0.3s ease;
}

.btn-outline-success:hover {
    background-color: var(--light-purple);
    color: white;
    border-color: var(--light-purple);
}


.btn-outline-danger {
    color: var(--main-purple);
    border-color: var(--main-purple);
}

.btn-outline-danger:hover {
    background-color: var(--gold);
    color: black;
    border-color: var(--gold);
}

/* Cartes ou blocs */
.card {
    border: none;
    box-shadow: 0 2px 8px rgba(91, 42, 134, 0.1);
}

