:root{
    --very-light-color:#ffe8d3;
    --light-pink:#ffa5ab;
    --pink:#da627d;
    --dark-pink:#9f5465;
    --very-dark-pink:#450920;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark-pink);
    color: var(--very-dark-pink);
}

header {
    background-color: var(--pink);
    color: white; /* White text for header */
    padding: 20px 0;
    text-align: center;
}

.navbar {
    background-color: var(--light-pink);
}

.navbar a {
    text-decoration: none; /* Remove underline */
    color: white; /* White text color */
    font-weight: bold;
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.navbar a:hover {
    color: #ffeef8; /* Light pink on hover */
}

/* Main Content Styles */
.content {
    padding: 20px;
    text-align: center; /* Center the content */
}

/* Footer Styles */
.footer {
    background-color: #ff66b2; /* Same as header */
    color: white; /* White text */
    text-align: center;
    padding: 15px 0;
    position: relative; /* To position footer properly */
    bottom: 0;
    width: 100%;
}