<nav class="navbar navbar-expand-lg ">
    <div class="container">
        <a class="navbar-brand" href="#">Pole Dance</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/app/static">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cours">Cours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/professeurs">Professeurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/eleves">Élèves</a>
                </li>
            </ul>
        </div>
    </div>
</nav>